@using MovieDetail.Models.Data;
@model List<MovieList>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "MovieDetailPartial";
}
<h2>Movie Details</h2>

<html>

<head>
    <meta name="viewport" content="movies" />
    <title>Movie Detail</title>
</head>

<body>
    <table class="table table-bordered table-responsive table hover">
        <tr>
            <th>MovieData</th>
            <th>MovieName</th>
            <th>ReleaseYear</th>
            <th>Genere</th>
        </tr>
       @foreach (var movieData in Model)
        {


            <tr>
                <td>@movieData.MovieId</td>
                <td>@movieData.MovieName</td>
                <td>@movieData.ReleaseYear</td>
                <td>@movieData.Genere</td>
            </tr>
        }

    </table>
</body>

</html>



