
@{
    ViewData["Title"] = "DeleteMovie";
}


<html>

<body>

    <form method="post" id="DeleteMovieForm">
        <h2>Delete Movie</h2>
        <div>
            <div class="form-inline">
                Delete a movie by its id :
                <input type="number" min="0" placeholder="Enter Movie Id" name="MovieId" class="form-control" /><br />
            </div>

        </div>
    </form>
    <button type="button" onClick="Exit()" class="btn btn-danger">Close</button>
    <input type="submit" value="Delete" class="btn btn-success" data-attr="deleteMovie" />

</body>

</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/deleteMovie.js"></script>
