@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MovieDetail.Models.Data.MovieList> ;

<div id="divInitialLoad">
    <partial name="_MovieDetailPartial" model="@Model" />
</div>

<div id="divAjaxLoad">

</div>


<html>

<head>

    <meta name="viewport" content="movieList"/>
    <title>Movie Details</title>

</head>

<body>

    <div>
            Search a Movie by its id:
            <input type="text" id="SearchId"><br/>
    </div>

    <button type="button" class="btn btn-success" value="Submit" data-attr="submit">Search</button>

  </body>

</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/searchMovie.js"></script>

