
@{
    ViewData["Title"] = "insert";
}

<h2>Add Movie Details</h2>


<form method="post" >
    MovieId:
    <input type="text" /><br/>
    MovieName:
    <input type="text"  />
   


    <div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Movie Details</button>
    </div>
</form>